@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$panel-padding: 1.8rem;
$panel-padding-mobile: 1.5rem;
$panel-margin-mobile: 1.5rem;
$panel-border-radius: 2rem;
$panel-width-md: 100%;
$panel-width-sm: 80%;

$panel-box-shadow-color: rgba(199, 195, 195, 0.4);
$panel-shadow: 3.2rem 3.2rem 6.2rem 0 $panel-box-shadow-color;
@mixin panel-shadow {
  box-shadow: $panel-shadow;
}

$screen-size-ty: 500px;
$screen-size-md: 900px;

@mixin screen-ty {
  @media only screen and (min-width: $screen-size-ty) {
    @content;
  }
}

@mixin screen-md {
  @media only screen and (min-width: $screen-size-md) {
    @content;
  }
}

.base {
  @include panel-shadow;
  padding: $panel-padding-mobile;
  border-radius: $panel-border-radius;
  background-color: #fff;
  margin-left: $panel-margin-mobile;
  margin-right: $panel-margin-mobile;
  width: calc(100% - #{$panel-margin-mobile});

  @include screen-ty {
    width: $panel-width-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @include screen-md {
    width: $panel-width-md;
    padding: $panel-padding;
    margin-left: 0;
    margin-right: 0;
  }
}

// scss-lint:disable PropertySpelling
:export {
  borderRadius: $panel-border-radius;
}

.panel{
    width: 100%;
    height: auto;
    background: white;
    border-radius: 20px;
    box-shadow: 32.0853px 32.0853px 62.1653px rgba(199, 195, 195, 0.4);
    border: 1px solid #f3f3f3bf;
}


.icon {
  color: #502274;
  float: left;
  width: 20px;
  height: 20px;
  border: 2px solid #502274;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon:hover{
 background-color:rgba(80, 34, 116, 1);
 color: white ;
}
.CircularProgressbar {
  width: 90px;
  vertical-align: middle;
}
.pannel-icons.col-md-3 {
  display: flex;
  justify-content: center;
}
.flex-42 {
  display: flex;
  justify-content: center;
}
.heading {
  font-size:18px;
  font-family:Open Sans;
}
.desc {
  font-size:15px;
  font-family:Open Sans;
  font-weight: normal;
}
.iconlist {
  font-size:15px;
  color:rgba(80, 34, 116, 1);
  margin: 0 0 25px 35px;
}
.heading-media{
  font-size:18px;
  font-family:Open Sans;
}
